<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../../css/exerciseDetail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8e2bc67ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../codemirror-5.65.12/lib/codemirror.css">
    <script src="../../codemirror-5.65.12/mode/python/python.js"></script>
    <script src="../../codemirror-5.65.12/lib/codemirror.js"></script>
    <script src="../../codemirror-5.65.12/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="../../codemirror-5.65.12/theme/dracula.css">
    <script src="../../codemirror-5.65.12/addon/edit/closebrackets.js"></script>
    <title>Giải bài tập</title>
</head>

<body>
    <div>
        <h2 class="h2-container">Giải bài tập số <%= info[0].Id %>
        </h2>

        <h3 class="h3-container">Đề bài: <%= info[0].detail %>
        </h3>
        <h4 class="h3-container"><b>Thời gian:</b>
            <%=info[0].time%> ms
        </h4>
        <p class="p-container">
            Ví dụ Test Case 1:<br>
            <b>Input:</b>
            <%= info[0].input1 %><br>
                <b>Output:</b>
                <%= info[0].output1 %>
        </p>
    </div>
    <div class="row">
        <h3 class="h3-container">Nộp Bài Tập</h3>

        <div class="col-8" style="padding-left: 40px;">
            <div class="col-12 ">
                <div class="col-4 d-inline-block choose-container ">
                    <label class="visually-hidden" for="inlineFormSelectPref">Chọn ngôn ngữ</label>
                    <select class="form-select" id="inlineFormSelectPref">
                        <option selected>Choose...</option>
                        <option value="Java">Java</option>
                        <option value="Cpp">Cpp</option>
                        <option value="python">python</option>
                    </select>
                </div>
                <div class="col-6 d-inline-block">
                    <button type="button" class="btn btn-primary"><a href="/index" class="text-light">Chuyển đến trình
                            biên
                            dịch</a></button>

                    <button class="btn btn-success"><a href="/exercise" class="text-light">Danh sách bài
                            tập</a></button>
                </div>
            </div>
            <textarea name="answer" id="answer" cols="20" rows="10"
                class="form-control text-container rounded"></textarea>

            <button type="submit" id="run" class="btn btn-success btn-container">Nộp bài</button>
        </div>


        <div class="col-3 output-container">
            <div id="output1" class="output-result"></div>
            <div id="output2" class="output-result"></div>
            <div id="output3" class="output-result"></div>
            <div id="output4" class="output-result"></div>
            <div id="output5" class="output-result"></div>
        </div>
    </div>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("answer"), {//tạo ra một editor mới từ textarea
            theme: "dracula",//giao diện dracule
            lineNumbers: true,//đánh dấu số dòng
            autoCloseBrackets: true,//tự động đóng ngoặc

        })

        run.addEventListener("click", async function () {
            var currentTime = new Date();
            console.log(currentTime.getTime());
            var time = '<%= info[0].time %>'
            var inputArray = [`<%= info[0].input1 %>`, `<%= info[0].input2 %>`, `<%= info[0].input3 %>`, `<%= info[0].input4 %>`, `<%= info[0].input5 %>`];
            var outputArray = [`<%= info[0].output1 %>`, `<%= info[0].output2 %>`, `<%= info[0].output3 %>`, `<%= info[0].output4 %>`, `<%= info[0].output5 %>`];
            for (let index = 1; index <= 5; index++) {
                var input = inputArray[index - 1];
                var output = outputArray[index - 1];
                var run = document.getElementById("run");
                var lang = document.getElementById("inlineFormSelectPref");


                console.log("input:", input);
                console.log("output:", output);
                code = {
                    code: editor.getValue(),
                    input: input,
                    lang: lang.value
                };
                console.log(code);
                var oData = await fetch("http://localhost:8000/compile", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(code)
                });
                var d = await oData.json();
                var nowTime = new Date();
                console.log(nowTime.getTime());
                console.log(nowTime.getTime() - currentTime.getTime());
                var output_value = d.output;
                console.log(output_value);


                if (nowTime.getTime() - currentTime.getTime() > time) {
                    document.getElementById("output" + index).innerHTML = "Test case" + index + ":Time limit exceeded";
                    const checkIcon = document.createElement("i");
                    checkIcon.classList.add("fa-regular", "fa-circle-question");
                    document.getElementById("output" + index).appendChild(checkIcon);
                    document.getElementById("output" + index).style.color = "yellow";
                }
                else if (output_value == output) {
                    document.getElementById("output" + index).innerHTML = "Test case" + index + ": Accepted  ";
                    const checkIcon = document.createElement("i");
                    checkIcon.classList.add("fa-regular", "fa-circle-check");
                    document.getElementById("output" + index).appendChild(checkIcon);
                    document.getElementById("output" + index).style.color = "green";
                }
                else {
                    document.getElementById("output" + index).innerHTML = "Test case" + index + ": Wrong Answer  ";
                    const checkIcon = document.createElement("i");
                    checkIcon.classList.add("fa-regular", "fa-circle-xmark");
                    document.getElementById("output" + index).appendChild(checkIcon);
                    document.getElementById("output" + index).style.color = "red";
                }

            };
        });


    </script>

</body>

</html>